/* .product__media-list .product__media-item{
    display: none;
}

.product__media-list .product__media-item.grid__item.slider__slide.is-active{
    display: block;
} */
.product__media-item.product__media-item--variant{
    display: block !important;
}
.product--stacked .product__media-item{
    width: 25%;
}
.slider{
    width: 70%;
    margin: 0 auto;
}